<div clas="sortByLine">
  <ul class="sortByBox">
    <li class="sortBtn">AZ</li>
    <li class="sortBtn">$$</li>
  </ul>
</div>
<div class="container">

  <div class="item" ng-repeat="item in items" data-id="{{item.listing_id}}">
    
    <img ng-src="{{item.MainImage.url_75x75}}" class="listingImg"/>
    <ul class="listingInfo">
      <li class="titleAndPrice">
        <div class="listTitle">{{item.title}}</div>
        <div class="listPrice">{{item.price | currency}}</div>
      </li>
      <li class="addToCart">
        <button type="button">+</button>
      </li>
    </ul>
    <div class="listEtsySourceUrl">{{item.url}}</div>

  </div>

</div>
