<h1> CART </h1>
<div class="cartContainer">
  <ul class="cartItemDisplay" ng-repeat="item in items" data-id="{{item.listing_id}}">
    <li class="cartImage"><img ng-src="{{item.MainImage.url_75x75}}" alt=""></li>
    <li class="cartItemInfo">
      <div class="cartItemTitle">{{item.title}}</div>
      <div class="cartItemPrice">{{item.price | currency}}</div>
      <div class="quantity"></div>
    </li>
  </ul>
</div>
<ul class="cartTotals">
  <li>Total</li>
  <li>items</li>
  <li>$ </li>
</ul>
